/* I like to organize my CSS in a logical manner. I feel like this helps
the cascade work in my favor and helps me easily locate changes I want to make.
I like to do the body or HTML,then the elements, then divs, classes and media queries. */

body {
  font-size: 62.5%;
  background: url("./pexels-philippe-donn-1257860.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  color: goldenrod;
  margin: 10px;
  padding: 12px 20px 12px 20px;
}
h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}
h4 {
  color: black;
  font-size: 2rem;
}
.content {
  background-color: purple;
  opacity: 0.7;
  border-radius: 12px;
  padding: 20px;
}
.content > p {
  font-size: 1.3rem;
  color: white;
  opacity: 1;
  text-align: center;
}
.footer {
  background-color: aqua;
  height: 40px;
  width: 80vw;
}
#buttons {
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  width: 80vw;
  height: 10vh;
  display: block;
  margin: auto;
  margin-top: 30px;
}
#homebuttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#results {
  color: black;
  box-shadow: white;
}
@media (min-width: 200px) and (max-width: 560px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
